/ProjetosPessuais/barbearia/nbproject/private/
/ProjetosPessuais/barbearia/build/
/ESTUDO_URI/JavaApplication100/nbproject/private/
/ESTUDO_URI/JavaApplication100/build/
/PP/exercicios - padrao de projetos/interator/nbproject/private/
/PP/exercicios - padrao de projetos/interator/build/
/PP/exercicios - padrao de projetos/factoryMetod/nbproject/private/
/PP/exercicios - padrao de projetos/Factory/nbproject/private/
/PP/exercicios - padrao de projetos/Pizzaria/nbproject/private/
/PP/exercicios - padrao de projetos/buttonsFactory/nbproject/private/
/PP/exercicios - padrao de projetos/buttonsFactory/build/
/PP/exercicios - padrao de projetos/TemplateMethod/nbproject/private/
/PP/exercicios - padrao de projetos/TemplateMethod/build/