/ProjetosPessuais/barbearia/nbproject/private/
/ProjetosPessuais/barbearia/build/
/ESTUDO_URI/JavaApplication100/nbproject/private/
/ESTUDO_URI/JavaApplication100/build/
/PP/exercicios - padrao de projetos/interator/nbproject/private/
/PP/exercicios - padrao de projetos/interator/build/